.app {
	max-width: 400px;
	margin: 0 auto;
	font-family: 'Arial', sans-serif;
  }
  
  h1 {
	text-align: center;
	color: #ea4070;
	font-size: 36px;
	margin: 20px 0;
	text-transform: uppercase;
	font-weight: 700;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .task-creation,
  .task-filter,
  .task-list {
	margin: 20px 0;
	text-align: center;
  }
  
  .input {
	margin: 5px;
	padding: 12px;
	font-size: 16px;
	border: 2px solid #ccc;
	border-radius: 5px;
	width: 93%;
  }
  
  .button {
	margin: 5px;
	padding: 12px;
	font-size: 16px;
	border: 2px solid #ccc;
	border-radius: 5px;
	width: 100%;
	box-sizing: border-box; /* Ensure padding is included in the width */
  }
  .input {
	font-size: 16px; /* Adjust the font size to match the button */
  }
  
  .button {
	background-color: #34a9db;
	color: white;
	border: none;
	cursor: pointer;
	transition: background-color 0.3s;
	font-size: 16px; /* Set the font size to match the input */
  }
  
  .button:hover {
	background-color: #2980b9;
  }
  
  .completed {
	text-decoration: line-through;
  }
  
  ul {
	list-style: none;
	padding: 0;
  }
  
  .task {
	display: flex;
	align-items: center;
	margin: 10px 0;
	background: #f0f0f0;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
	cursor: pointer; /* Add cursor pointer for interaction */
	transition: background-color 0.3s; /* Add transition for hover effect */
  }

  .task:hover {
	background: #e0e0e0; /* Background color change on hover */
  }

  .checkbox {
	margin-right: 10px;
	transform: scale(1.5);
  }
  
  .task-text {
	font-size: 18px;
	flex: 1;
  }
  
  .delete-button {
	background-color: #e74c3c;
	color: white;
	border: none;
	border-radius: 5px;
	padding: 10px;
	cursor: pointer;
	transition: background-color 0.3s;
  }
  
  .delete-button:hover {
	background-color: #c0392b;
  }
  
  .error {
	color: #e74c3c;
	font-size: 14px;
	margin: 5px 0;
  }